*
{
    padding: 0%;
    margin: 0;
}
.header{
    height: 600px;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(image/wall.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 30px;
    text-align: center;
    color: white;
}
.header h2{
    padding-top: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
}
.header h3{
    padding-top: 50px;
    color:grey;
    width: 330px;
    background-image: linear-gradient(blue,aqua);
    border: 0 !important;
    color: #fff !important;
    padding: 0 25px !important;
    border-radius: 30px !important;
    box-shadow: none !important;
}
.header h1{
    padding-top: 80px;
    padding-bottom: 0;
    font-size: 45px;
}
.header p{
    margin: 18px 0;
}

.header img{
    width: 170px;
    float: left;
    height: 100px;
}
.login-btn1{
    width: 100px;
    padding: 8px 0;
    outline: none !important;
    border: 2px solid #fff;
    border-radius: 50px;
    background-color: transparent;
    color: #fff;
    float: right;
    text-decoration: none;
}

.input-group{
    width: 90%;
    max-width: 500px;
    border-radius: 30px;
    background: #fff;
    margin: auto;
    padding: 2px;
}
.form-control{
    border: 0 !important;
    border-radius: 30px  !important;
    margin: 1px;
    box-shadow: none !important;
}
.input-group-text{
    width: 100px;
    height: 40px;
    background-image: linear-gradient(#00ff7e,#1f3d90);
    border: 0 !important;
    color: #fff !important;
    padding: 0 25px !important;
    border-radius: 30px !important;
    box-shadow: none !important;
}
/*features*/

.features{
    padding: 100px 0;
}
h1{
    text-align: center;
    padding-bottom: 30px;
}
.feature-img img {
    width: 100%;
    
}
.price{
    width: 50px;
    height: 50px;
    background: #ff5722;
    color: #fff;
    font-weight: 600;
    border-radius: 50%;
    padding: 10px;;
    box-shadow: 0 0 10px 1px rgba(37,73,214,0,18);
    position: absolute;
    left: 20px;
    bottom: -25px;
}
.feature-img{
    position: relative;
}
.feature-details{
    padding: 20px;
    text-align: justify;
}
.feature-details h4{
    font-weight: 600;
    margin-top: 20px;
}
.feature-box {
    box-shadow: 0 0 10px 1px rgba(37,73,214,0,18);
    margin-bottom: 30px;
}
.gallery{
    padding: 100px;
    background-color: #efefef; 
}
.gallery-box img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.gallery-box img:hover
 {
    transform: scale(1.1);
}
.gallery-box h6{
    display:block;
    color: #fff;
    text-shadow: -2px 2px 2px #000;
    font-weight: 600;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.gallery-box{
    position: relative;
    margin-bottom: 30px;
}
.banner{
    height: 80%;
    background-image: url(image/kajuru.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/*
.card {
    margin-bottom: 20px;
    border: none
}

.box {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #191919;
    ;
    text-align: center;
    transition: 0.25s;
    margin-top: 100px
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background: #2ecc71
}

.forgot {
    text-decoration: underline
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0
}

ul.social-network li {
    display: inline;
    margin: 0 5px
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff
}

.social-network a.icoGoogle:hover {
    background-color: #BD3518
}

.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i {
    color: #fff
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center
}

.social-circle li a:hover i,
.triggeredHover {
    transform: rotate(360deg);
    transition: all 0.2s
}

.social-circle i {
    color: #fff;
    transition: all 0.8s;
    transition: all 0.8s
}
.loginpg{
    background-image: url(image/wall.jpeg);
    background-size: 100%;
}